---
import ExamplePage from "./_ExamplePage.astro";
---

<ExamplePage
  title="techstyle example: landing page"
  hue={6}
  swapped={true}
  themeColor="#ff82b9"
>
  <section class="t-fullheight">
    <hgroup>
      <h1>A Cool App</h1>
      <div>☺ This cool app will solve all your problems</div>
    </hgroup>
    <footer>
      <span>⬇ Scroll to read more! ⬇</span>
    </footer>
  </section>
  <section>
    <h2>Awesome features</h2>
    <ul>
      <li class="t-card">
        <h3>✔ Doesn't actually exist</h3>
        <p>Means it won't distract you from stuff that actually matters</p>
      </li>
      <li class="t-card">
        <h3>✔ 0MB installed size</h3>
        <p>You can't install it, so installing it takes no time</p>
      </li>
      <li class="t-card">
        <h3>✔ Makes you want to build your own app</h3>
        <p>Building apps is fun</p>
      </li>
    </ul>
  </section>
  <footer>
    <span>
      This is just a demo of <a href="../index.html"
        ><code>techstyle.css</code></a
      >
    </span>
  </footer>
</ExamplePage>
