---
import ExamplePage from "./_ExamplePage.astro";
---

<ExamplePage
  title="techstyle example: popover demo"
  hue={151}
  swapped={true}
  themeColor="#43df7b"
>
  <section class="t-fullheight">
    <header>
      <span>This is the header of a full-page section</span>
      <h1>Popover demo</h1>
      <div>
        <button popovertarget="demopopover3">Open popover</button>
        <div popover id="demopopover3">
          This is a popover
          <ul>
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
          </ul>
        </div>
      </div>
    </header>
    <div class="t-card">
      A vertically centered card in the full-page section
    </div>
    <footer>
      <div>
        <span>This is the footer of a full-page section</span>
        <button id="opendialog">Open dialog</button>
        <dialog id="demodialog">
          <p>Hello, this is a dialog!</p>
          <form method="dialog">
            <footer>
              <button autofocus type="submit">Cancel</button>
              <button type="submit">Ok</button>
            </footer>
          </form>
        </dialog>
        <script>
          const dialog = document.getElementById(
            "demodialog"
          ) as HTMLDialogElement;
          const opendialog = document.getElementById(
            "opendialog"
          ) as HTMLButtonElement;

          opendialog.onclick = () => dialog.showModal();
        </script>
      </div>
    </footer>
  </section>

  <div class="t-card">
    <button popovertarget="demopopover1">Open popover</button>
    <div popover id="demopopover1">
      This is a popover
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
      </ul>
    </div>
  </div>
  <div class="t-card">
    <header>
      <span>Card header</span>
      <button popovertarget="demopopover2">Open popover</button>
      <div popover id="demopopover2">
        This is a popover
        <ul>
          <li>One</li>
          <li>Two</li>
          <li>Three</li>
        </ul>
      </div>
    </header>
  </div>

  <footer>
    <span>
      This is just a demo of <a href="../index.html"
        ><code>techstyle.css</code></a
      >
    </span>
  </footer>
</ExamplePage>
